<script src='https://unpkg.com/chart.js@2.8.0/dist/Chart.bundle.js'></script>
<script
    src='https://unpkg.com/chartjs-gauge@0.3.0/dist/chartjs-gauge.js'
></script>
<script
    src='https://unpkg.com/chartjs-plugin-datalabels@0.7.0/dist/chartjs-plugin-datalabels.js'
></script>
<div class='container-fluid mt-5'>
    <div class='row justify-content-center'>
        <div id='canvas-holder' style='width:30%;;margin-right:20px;'>
            <canvas id='temp-chart' width='600' height='300'></canvas>
        </div>
        <div id='canvas-holder' style='width:30%;'>
            <canvas id='humi-chart' width='600' height='300'></canvas>
        </div>
    </div>
    <div class='row justify-content-center' style='margin-top:40px'>
        <div id='canvas-holder' style='width:30%;;margin-right:20px;'>
            <canvas id='light-chart' width='600' height='300'></canvas>
        </div>
        <div id='canvas-holder' style='width:30%'>
            <canvas id='soil-humi-chart'></canvas>
        </div>
    </div>
    <p
    >----------------------------------------------------------------------------------------------------------------------------------------------</p>
    <h3>Manual control</h3>
<<<<<<< HEAD
    <div class="row justify-content-center">
        <div class="col col-3 d-flex">
            <p class= "">Motor</p>
            <label class="switch">
                <input type="checkbox" id="pump">
                <span class="slider round"></span>
            </label>
        </div>
        <div class="col col-3 d-flex">
            <p class= "">Light</p>
            <label class="switch">
                <input type="checkbox" id="bulb">
                <span class="slider round"></span>
=======
    <div class='row justify-content-center'>
        <div class='col col-3 d-flex'>
            <p class=''>Motor</p>
            <label class='switch'>
                <input type='checkbox' id='motor' />
                <span class='slider round'></span>
            </label>
        </div>
        <div class='col col-3 d-flex'>
            <p class=''>Light</p>
            <label class='switch'>
                <input type='checkbox' id='light-bulb' />
                <span class='slider round'></span>
>>>>>>> 5a3fa706c6250a749039b0c5985f64176212e4c6
            </label>
        </div>
    </div>
</div>

{{! <div id="canvas-holder" style="width:50%;height:200px">
        <canvas id="chart"></canvas>
    </div> }}

<<<<<<< HEAD
{{!-- <button id="randomizeData">Randomize Data</button> --}}
<script src="https://unpkg.com/mqtt/dist/mqtt.min.js"></script>
<script src="/scripts/main.js"></script>
=======
{{! <button id="randomizeData">Randomize Data</button> }}
<script src='/scripts/main.js'></script>
>>>>>>> 5a3fa706c6250a749039b0c5985f64176212e4c6
